.main-view {
    width: 100%;
    background-color: #FFFFFF;
    height: fit-content;
    max-width: 1200px;
    min-width: 560px;
    gap: 10px;
    padding-top: 64px;
    padding-right: 200px;
    padding-bottom: 64px;
    padding-left: 200px;
    border-radius: 20px;


    &>.content {
        width: 800;
        height: 402;
        min-width: 420px;
        justify-content: space-between;
        position: relative;

        &>h1 {
            text-align: center;
        }

        &>.interview-manuals {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            margin-top: 12px;

            &>p {
                color: #10285666;
                width: fit-content;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }


}