.main-view {
    width: 100%;
    background-color: var(--content-bg);
    height: fit-content;
    max-width: 1200px;
    min-width: 300px;
    gap: 10px;
    padding: 64px 24px;
    border-radius: 20px;
    margin: 0 auto;


    &>.content {
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
        justify-content: space-between;
        position: relative;

        &>h1 {
            text-align: center;
            position: relative;
            z-index: 1;
        }

        &>.interview-manuals {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            margin-top: 12px;
            position: relative;
            z-index: 1;

            &>p {
                color: var(--main-color);
                width: fit-content;
                margin-top: 0;
                margin-bottom: 0;
            }

            @media (max-width: 900px) {
                flex-wrap: wrap;

                &>p:first-child {
                    display: none;
                }
            }

            @media (max-width: 762px) {
                .microphone-toggle {
                    flex: 1 1 45%;
                    justify-content: start;
                }

                .soundwaves {
                    flex: 1 1 45%;
                    justify-content: end;
                }

                &>p {
                    margin-top: 66px;
                    flex: 1 1 100%;
                    text-align: center;
                }

                .button-classic {
                    flex: 1 1 100%;
                }

            }
        }

        &>progress {
            @media (max-width: 762px) {
                position: absolute;
                bottom: 99px;
            }
        }
    }

}