* {
    box-sizing: border-box;
}

// colors
:root {
    --main-bg: linear-gradient(287.6deg, #EEFAFF 2.54%, #F9FDFE 93.51%);
    --main-bg-dark: linear-gradient(288.09deg, #00091A 16.04%, #07183A 94.75%);

    --content-bg: #FFFFFF;
    --content-bg-dark: #15173F;

    --grad-progress: linear-gradient(91.46deg, #B1E1FF 0%, #B6B9FF 100%);
    --grad-progress-dark: linear-gradient(109.12deg, #B6B9FF 9.49%, #6066EE 80.81%);

    --progress-track: #EEFAFF;

    --status: #6066EE;
    --status-dark: #102856;

    --main-color: #102856;
    --main-color-dark: white;

    --button-bg: #B8C4CC;
    --button-hover-bg: #B1E1FF;

    --button-bg-dark: #4F5971;
    --button-hover-bg-dark: #6066EE;

    --debug: 1px solid lightgrey;
    --debug-dark: 1px solid rgba(0, 102, 255, 0.541);

    --aiviana: url('../src/assets/ai_conditions/image/AVIANA_LIGHT.png');
    --aiviana-dark: url('../src/assets/ai_conditions/image/AVIANA_DARK.png');
}

.dark {
    --main-bg: var(--main-bg-dark);
    --content-bg: var(--content-bg-dark);
    --grad-progress: var(--grad-progress-dark);
    --status: var(--status-dark);
    --main-color: var(--main-color-dark);
    --button-bg: var(--button-bg-dark);
    --button-hover-bg: var(--button-hover-bg-dark);
    --debug: var(--debug-dark);
    --aiviana: var(--aiviana-dark)
}



body {
    background: var(--main-bg);
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // debug
    // * {
    //     outline: var(--debug);
    // }
    color: var(--main-color);
}


#app {
    max-width: 100%;
    background: var(--main-bg);
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1400px) {
        max-width: 100%;
        margin: 0 80px;
    }

    @media (max-width: 762px) {
        margin: 0 30px;
    }
}

a {
    text-decoration: none;
    color: var(--main-color);
}

h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1em;
    letter-spacing: 0px;
}

p {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
    margin-top: 88px;
    position: sticky;
    top: 20px;
    margin-bottom: 44px;

    &>.lk {
        margin-left: auto;
    }

    @media (max-width: 762px) {
        gap: 6px;
    }
}

.logo {
    &--main {
        max-height: 48px;
        width: auto;
    }
}

*.disabled {
    opacity: 50%;
}

label {

    input[type=checkbox],
    input[type=radio] {
        display: none;
    }
}

.toggle {
    width: 60px;
    height: 28px;
    background: linear-gradient(109.12deg, #B6B9FF 9.49%, #6066EE 80.81%);
    border-radius: 14px;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &::before {
        content: '';
        width: 22px;
        height: 22px;
        border-radius: 11px;
        background-color: #102856;
        transition: all 0.3s ease-in-out;

        position: absolute;
        top: 3px;
        left: 3px;
    }

    &:has(input:checked) {
        background: linear-gradient(109.12deg, #B1E1FF 9.49%, #87CCF8 80.81%);

        &::before {
            transform: translateX(32px);
            background-color: #FFFFFF;
        }
    }


}

progress {
    width: 100%;
    height: 8px;
    display: block;
    /* чтобы можно было управлять размером */
    border-radius: 10px;
    overflow: hidden;
    border: none;
    background-color: var(--progress-track);
    position: relative;
    z-index: 1;
}

.navigate {
    position: absolute;
    top: 20px;
}

/* Фон прогресс-бара в Chrome/Safari */
progress::-webkit-progress-bar {
    background-color: var(--progress-track);
    border-radius: 10px;
}

/* Заполнение прогресс-бара в Chrome/Safari */
progress::-webkit-progress-value {
    background: var(--grad-progress);

    border-radius: 10px;
}

/* Заполнение в Firefox */
progress::-moz-progress-bar {
    background: var(--grad-progress);
    border-radius: 10px;
}

.microphone-toggle {
    background-color: transparent;
    border: 1px solid transparent;
    height: 33px;
    width: 33px;
    max-width: 33px;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    svg {
        width: auto;
        height: 100%;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        svg {
            opacity: 1;
        }
    }

    &.active {
        svg {
            opacity: 1;
        }
    }
}

// button 

.button {
    &-classic {
        background: var(--button-bg);
        color: white;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1em;
        padding: 9px 47px;
        max-height: 33px;
        border: none;
        border-radius: 17px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            background: var(--button-hover-bg);
        }
    }

}

// inline-styles

.ml-auto {
    margin-left: auto;
}